# === Logger ===

# LOG_LEVEL - Уровень детализации логов (DEBUG, INFO, WARN, ERROR) (Default: INFO)
LOG_LEVEL=DEBUG

# LOG_PLAINTEXT - Вывод логов в текстовом формате вместо JSON (Default: false)
LOG_PLAINTEXT=true


# === Server ===

# SERVER_ADDR - Адрес и порт для запуска HTTP-сервера (REQUIRED)
SERVER_ADDR=localhost:8080

# SERVER_SHUTDOWN_TIMEOUT - Таймаут graceful shutdown сервера (Default: 30s)
SERVER_SHUTDOWN_TIMEOUT=30s

# SERVER_RETRY_AFTER - Значение заголовка Retry-After в секундах при 503 (Default: 15)
SERVER_RETRY_AFTER=15


# === Checker ===

# CHECKER_TIMEOUT - Таймаут проверки одной ссылки (Default: 10s)
CHECKER_TIMEOUT=10s

# CHECKER_USER_AGENT - User-Agent для HTTP-запросов при проверке ссылок (Default: LinkChecker/1.0)
CHECKER_USER_AGENT=LinkChecker/1.0

# CHECKER_TRY_HTTPS_FIRST - Пробовать сначала HTTPS потом HTTP (иначе наоборот), если ссылка без схемы (Default: false)
CHECKER_TRY_HTTPS_FIRST=false

# CHECKER_TRY_GET_FALLBACK - Пробовать GET, если HEAD не поддерживается (Default: false)
CHECKER_TRY_GET_FALLBACK=false


# === Storage (BBolt) ===

# BBOLT_DATA_FILE - Путь к файлу базы данных BBolt (REQUIRED)
BBOLT_DATA_FILE=./data/linksets.db

# BBOLT_MAX_CACHE - Максимальное количество записей в LRU кеше (Default: 1000)
BBOLT_MAX_CACHE=1000

# BBOLT_TIMEOUT - Таймаут операций с базой данных (Default: 1s)
BBOLT_TIMEOUT=1s

# BBOLT_NOSYNC - Отключить синхронизацию для производительности (риск потери данных) (Default: true)
BBOLT_NOSYNC=true
