# === Logger ===

# LOG_LEVEL - Уровень детализации логов (DEBUG, INFO, WARN, ERROR) (Default: INFO)
LOG_LEVEL=DEBUG

# LOG_PLAINTEXT - Вывод логов в текстовом формате вместо JSON (Default: false)
LOG_PLAINTEXT=true


# === Server ===

# SERVER_ADDR - Адрес и порт для запуска HTTP-сервера (REQUIRED)
SERVER_ADDR=localhost:8080

# SERVER_SHUTDOWN_TIMEOUT - Таймаут graceful shutdown сервера (Default: 30s)
SERVER_SHUTDOWN_TIMEOUT=30s

# SERVER_RETRY_AFTER - Значение заголовка Retry-After в секундах при 503 (Default: 15)
SERVER_RETRY_AFTER=15


# === Checker ===

# CHECKER_TIMEOUT - Таймаут проверки одной ссылки (Default: 10s)
CHECKER_TIMEOUT=10s

# CHECKER_USER_AGENT - User-Agent для HTTP-запросов при проверке ссылок (Default: LinkChecker/1.0)
CHECKER_USER_AGENT=LinkChecker/1.0

# CHECKER_TRY_HTTPS_FIRST - Пробовать сначала HTTPS потом HTTP (иначе наоборот) (Default: false)
CHECKER_TRY_HTTPS_FIRST=false

# CHECKER_TRY_GET_FALLBACK - Пробовать GET, если HEAD не поддерживается (не реализовано) (Default: false)
CHECKER_TRY_GET_FALLBACK=false


# === Storage (BBolt) ===

# BBSTOR_DATA_FILE - Путь к файлу базы данных BBolt (REQUIRED)
BBSTOR_DATA_FILE=./data/linksets.db

# BBSTOR_OPEN_TIMEOUT - Таймаут открытия базы данных (Default: 1s)
BBSTOR_OPEN_TIMEOUT=1s

# BBSTOR_CACHE_SIZE - Максимальное количество записей в LRU кеше (Default: 1024)
BBSTOR_CACHE_SIZE=1024

# BBSTOR_NO_SYNC - Отключить синхронизацию (ВОЗМОЖНА ПОТЕРЯ ДАННЫХ) (Default: false)
BBSTOR_NO_SYNC=false

# BBSTOR_MAX_SYNC_DELAY - Ленивая синхронизация. Устанавливает отставание синхронизации по времени после коммита (ВОЗМОЖНА ПОТЕРЯ ДАННЫХ) (Default: 0s)
BBSTOR_MAX_SYNC_DELAY=0s

# BBSTOR_MAX_SYNC_PENDING - Ленивая синхронизация. Устанавливает отставание синхронизации по записям после коммита (ВОЗМОЖНА ПОТЕРЯ ДАННЫХ) (Default: 0)
BBSTOR_MAX_SYNC_PENDING=0

# BBSTOR_MAX_BATCH_DELAY - Пакетная запись. Устанавливает максимальное время комплектации пакета (Default: 10ms)
BBSTOR_MAX_BATCH_DELAY=10ms

# BBSTOR_MAX_BATCH_SIZE - Пакетная запись. Устанавливает максимальный размер пакета (Default: 2048)
BBSTOR_MAX_BATCH_SIZE=2048
